:root {
  --text: #434455;
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --white: #ffffff;
  --pressed-state: #404bbf;
  --light: #f4f4fd;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.logo_text {
  color: var(--text);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo_blue {
  color: var(--primary-brand);
}

body {
  font-family: 'Roboto', sans-serif;

  color: #434455;
  background-color: var(--white);
}

.menu_item_link {
  color: var(--dark);
  font-weight: 500;
}

.menu_item_link:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

.menu_item_link:focus {
  color: var(--hover-color);
  text-decoration: underline;
}

.contacts_list_item {
  color: var(--dark);
  font-style: normal;
}
.contacts-list-item:hover {
  color: var(--hover-color);
}

.contacts_list_item:focus {
  color: var(--hover-color);
}

.nav_button {
  color: var(--logo-blue);
  background: var(--button-background);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.nav_button:hover {
  color: var(--background-color);
  background-color: var(--hover-color);
}

.pcards_h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
